@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Raleway:ital,wght@0,400;0,700;1,400&family=Roboto:wght@400;500;700&display=swap');




body {
    font-family: Roboto, 'Times New Roman', Times, serif;
}

h1 {
    font-family: Raleway, sans-serif;
    font-weight: bold;

}

h6 {
    font-size: xx-small;
    color: rgb(95, 93, 93);
}

.panel {
    background-image: url(https://images.unsplash.com/photo-1496564203457-11bb12075d90?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1850&q=80);
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding-top: 100px;

}

.form {
    width: 300px;
    padding-left: 35px;
    text-align: left;
    color: rgb(255, 189, 6);
}